@import "./styles/base.css";
@import "./styles/component.css";
@import "./styles/font.css";
@import "./styles/scrollbar.css";
@import "./styles/tailwind.css";
@import "./styles/mobile.css";

#app {
  width: 100%;
  height: 100%;
  font-weight: normal;
  touch-action: manipulation;
}

:root {
  --app-color-text: rgb(51, 54, 57);
  --app-color-text-sub: rgb(118, 124, 130);
  --app-color-primary: #18a058;
  --app-color-success: #18a058;
  --app-color-info: #2080f0;
  --app-color-warning: #f0a020;
  --app-color-error: #d03050;
  --app-color-border: rgb(239, 239, 245);
  --app-color-background: #fff;
  --app-color-base: #fff;
  --app-color-background-embedded: rgb(250, 250, 252);
  --app-color-background-modal: #fff;
  --app-color-background-action: rgb(250, 250, 252);
  --app-color-background-popover: #fff;
  --app-color-background-hover: #F4F5F5;
}

.theme-light {
  --app-color-text: rgb(51, 54, 57);
  --app-color-text-sub: rgb(118, 124, 130);
  --app-color-primary: #18a058;
  --app-color-success: #18a058;
  --app-color-info: #2080f0;
  --app-color-warning: #f0a020;
  --app-color-error: #d03050;
  --app-color-border: rgb(239, 239, 245);
  --app-color-background: #fff;
  --app-color-base: #fff;
  --app-color-background-embedded: rgb(250, 250, 252);
  --app-color-background-modal: #fff;
  --app-color-background-action: rgb(250, 250, 252);
  --app-color-background-popover: #fff;
  --app-color-background-hover: #F4F5F5;
  --glasscard-saturate: 120%;
  --glasscard-bg: rgba(255,255,255, 0.4);
  --glasscard-bg-small: rgba(255,255,255, 0.36);
  --glasscard-shadow: 0 4px 8px rgba(8,10,20,0.45);
  --glasscard-bordercolor-small: #d4d4d4;
}
.theme-dark {
  --app-color-text: rgba(255, 255, 255, 0.82);
  --app-color-text-sub: rgba(255, 255, 255, 0.52);
  --app-color-primary: #63e2b7;
  --app-color-success: #63e2b7;
  --app-color-info: #70c0e8;
  --app-color-warning: #f2c97d;
  --app-color-error: #e88080;
  --app-color-border: rgba(255, 255, 255, 0.09);
  --app-color-background: rgb(16, 16, 20);
  --app-color-base: #000;
  --app-color-background-embedded: rgb(24, 24, 28);
  --app-color-background-modal: rgb(44, 44, 50);
  --app-color-background-action: rgb(56, 56, 62);
  --app-color-background-popover: rgb(72, 72, 78);
  --app-color-background-hover: #2A2A2E;
  --glasscard-saturate: 150%;
  --glasscard-bg: rgba(16,16,20, 0.6);
  --glasscard-bg-small: transparent;
  --glasscard-shadow: 0 4px 8px rgba(0,0,0,0.6);
}

:root, .theme-dark, .theme-light {
  --color-text: var(--app-color-text);
  --color-text-sub: var(--app-color-text-sub);
  --color-primary: var(--app-color-primary);
  --color-success: var(--app-color-success);
  --color-info: var(--app-color-info);
  --color-warning: var(--app-color-warning);
  --color-error: var(--app-color-error);
  --color-border: var(--app-color-border);
  --color-background: var(--app-color-background);
  --color-base: var(--app-color-base);
  --color-background-embedded: var(--app-color-background-embedded);
  --color-background-modal: var(--app-color-background-modal);
  --color-background-action: var(--app-color-background-action);
  --color-background-popover: var(--app-color-background-popover);
  --color-background-hover: var(--app-color-background-hover);
  --color-sub: var(--app-color-text-sub);
  --color-bg: var(--app-color-background);
  --color-bg-embedded: var(--app-color-background-embedded);
  --color-bg-modal: var(--app-color-background-modal);
  --color-bg-action: var(--app-color-background-action);
  --color-bg-popover: var(--app-color-background-popover);
  --color-bg-hover: var(--app-color-background-hover);
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
