/*
 * 覆盖/优化组件样式
 */

/* 修正menu */
.n-menu {
  .n-menu-item {
    margin-top: 4px;
    &:first-child {
      margin-top: 0;
    }
  }
}

.n-square-button {
  width: var(--n-height);
  padding: initial;
}

table.n-table.tiny-table {
  font-size: 12px;
  --n-line-height: 1 !important;
  th, td {
    padding: 4px;
  }
}
table.n-table tbody tr:hover td {
  background-color: var(--n-th-color-popover);
}
