@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
/* @import 'tailwindcss/preflight.css' layer(base); */
/* @import 'tailwindcss/utilities.css' layer(utilities); */
@import 'tailwindcss/utilities.css';

@theme {
  --color-text: var(--app-color-text);
  --color-primary: var(--app-color-primary);
  --color-success: var(--app-color-success);
  --color-info: var(--app-color-info);
  --color-warning: var(--app-color-warning);
  --color-error: var(--app-color-error);
  --color-sub: var(--app-color-text-sub);
  --color-bg: var(--app-color-background);
  --color-bg-embedded: var(--app-color-background-embedded);
  --color-bg-modal: var(--app-color-background-modal);
  --color-bg-action: var(--app-color-background-action);
  --color-bg-popover: var(--app-color-background-popover);
  --color-bg-hover: var(--app-color-background-hover);
  --color-base: var(--app-color-base);
  --color-border: var(--app-color-border);

  --text-app-2xs: var(--app-font-size-2xs);
  --text-app-xs: var(--app-font-size-xs);
  --text-app-sm: var(--app-font-size-sm);
  --text-app-base: var(--app-font-size);
  --text-app-lg: var(--app-font-size-lg);
  --text-app-xl: var(--app-font-size-xl);
}
